
.ActionButtons {
    text-align: right;
    margin-bottom: 1.25rem;
}

.ActionButtons .IconButton {
    background-color: #01BF90;
    color: white;
    text-decoration: none;
    padding: 0.5rem;
}

