.Message {
    background-color: aliceblue;
    color: darkblue;
    border: 0.025em solid darkblue;
    margin: 2em;
    padding: 1em;
}

.Message.ErrorMessage {
    background-color: salmon;
    color: darkred;
    border-color: darkred;
}

.Message.SuccessMessage {
    background-color: lightgreen;
    color: darkgreen;
    border-color: darkgreen;
}

.Message p {
    display: inline;
}

