
.DashboardBlock {
    vertical-align: top;
    width: 40%;
    display: inline-block;
    border: 0.05em solid #ccc;
    margin: 1em;
    padding: 1em;
}

.DashboardBlock h4 {
    margin: 0;
    padding: 0;
}

.DashboardBlockBody .NoData {
    padding: 2em;
    font-style: italic;
    color: #ccc;
}

.DashboardBlock .RefreshWrapper {
    text-align: right;
}

.DashboardBlock .RefreshButton {
    color: #01bf90;
}

.DashboardBlockBody .YesData,
.DashboardBlockBody .NoData {
    margin-top: 0.5em;
}

.DashboardBlockBody table td.col-date {
    white-space: nowrap;
}

.DashboardBlockBody .MoreLink {
    margin-top: 1em;
    text-align: center;
}

.DashboardBlockBody .MoreLink a {
    color: #01bf90;
    text-decoration: none;
}
