
.RawTextBox {
    border: 0.03em solid #818181;
    padding: 0.75em;
    margin: 1em 0;
}

.RawTextBox.Empty {
    color: #ccc;
    font-style: italic;
}

.RawTextBox code {
    overflow-wrap: break-word;
    font-size: 0.8em;
    color: #333;
}

