
.AdminTable table {
    width: 100%;
    background-color: #ccf9ee;
    border: 0.03em solid #017054;
    border-spacing: 0;
    border-collapse: collapse;
}

.AdminTable th {
    padding: 0.3em;
}

.AdminTable table thead th {
    border-bottom: 0.03em solid slateblue;
}

.AdminTable td {
    padding: 0.5em 0.75em;
}

.AdminTable td p.LineBreak {
    margin: 0.1em 0;
}

.AdminTable table tbody tr {
    background-color: white;
}

.AdminTable table tbody tr:nth-child(even) {
    background-color: #f2fcf9;
}

.AdminTable td.Clickable {
    cursor: pointer;
    text-decoration: underline;
    color: #01BF90;
}

.AdminTable.TinyTable th {
    font-size: 0.85em;
}

.AdminTable.TinyTable td {
    padding: 0.3em;
    font-size: 0.85em;
}

