.PreviewMarkdown, .EditMarkdown {
    overflow: auto;
    margin-bottom: 2em;
}

.PreviewMarkdown h5 {
    color: #01bf90;
    font-size: 0.9em;
    margin: 0;
}

.PreviewMarkdown .View {
    border: 0.05em solid #01bf90;
    padding: 0.75em;
}

.PreviewMarkdown .View a {
    color: #01bf90;
}

.PreviewMarkdown button,
.EditMarkdown button {
    display: block;
    float: right;
    color: #01bf90;
}

.EditMarkdown textarea {
    width: 97%;
    padding: 0.5em;
}

