.CookieNotice {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: #EDFFFA;
    border: none;
    border-top: 0.025em solid #212529;
    padding: 1em 1em 2em 1em;
    color: #212529;
}

.CloseNotice {
    float: right;
}

button.CloseNotice {
    font-size: 1em;
    border: none;
    background: transparent;
    color: #080808;
}

.NoticeContent {
    overflow: hidden;
    margin-top: 0.25em;
}

.NoticeMessage {
    display: block;
}

.NoticeMessage h6 {
    margin: 0 0 0.5em 0;
    font-weight: bold;
    color: #080808;
    font-size: 1em;
}

.OptControl {
    float: right;
}

.CookieSetting {
    margin-bottom: 1em;
    clear: right;
}

.CookieSetting label {
    font-weight: bold;
    margin-bottom: 0.5em;
    display: block;
}

.OptDescription {
    margin-bottom: 0.5em;
}

.NoticeButtons {
    clear: right;
}

.NoticeButtons button {
    border: 0.025em solid #212529;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 0.5em;
    margin: 1em 0 0 1.5em;
    background-color: #CCCCCC;
    font-weight: bold;
    color: white;
    display: inline-block;
    float: right;
    box-shadow: 1px 1px 1px 0px rgba(33,37,41,0.5);
}

.NoticeButtons button.SaveButton {
    background-color: #F85846;
}

.NoticeButtons button.ConfigureButton {
    background-color: #CCCCCC;
}

.NoticeButtons button.RejectButton {
    background-color: #080808;
}

.NoticeButtons button.AcceptButton {
    background-color: #01BF90;
}

