
.StepCounter {
    margin: 0 auto;
    text-align: center;
}

.StepCounter ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.StepCounter ul li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0 0.05em;
    line-height: 0.5em;
    font-size: 4.5em;
    color: #ccc;
}

.StepCounter .Bullet.Current {
    color: #ffcd03;
}

.StepCounter .Bullet.Visited {
    color: #01bf90;
}

.StepCounter .Bullet.Clickable {
    cursor: pointer;
}

