.ButtonContainer, .VertButtonContainer {
    text-align: center;
}

.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button.StartButton {
    background-color: #01BF90;
}

.VertButtonContainer .Button {
    display: block;
    margin: 1em auto;
    width: 50%;
}

