.BenefitsTool {
    width: 100%;
    background-color: white;
}

.Logo img {
    height: 10%;
    width: 50%;
}

.Header {
    background-color: #01BF90;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 1em 0;
}

.Header h1 {
    margin: 0;
}

.Header a,
.Header a:hover,
.Header a:visited,
.Header a:active {
    color: #fff;
    text-decoration: none;
}

.MainContent {
    width: 80%;
    margin: 10px auto;
}

