.ButtonContainer {
    text-align: center;
}

.LoginBox h3 {
    margin: 0 0 0.75em 0;
    color: white;
    font-weight: bold;
    font-size: 1.25em;
    border-bottom: 0.05em solid white;
}

.Error {
    color: darkred;
    font-weight: bold;
    margin-bottom: 1em;
}

.LoginBox label {
    display: block;
    color: white;
    font-weight: bold;
}

.LoginBox input {
    display: block;
    margin-bottom: 1.5em;
    width: 98%;
}

.LoginBox button {
    background-color: white;
    border: none;
    color: #01BF90;
    outline: 0.25em black;
    cursor: pointer;
    font: inherit;
    padding: 0.5em;
    font-weight: bold;
}

.LoginBox button:disabled,
.LoginBox button.Loading {
    background-color: #eee;
    color: #666;
    cursor: not-allowed;
}

