.ButtonContainer {
    text-align: center;
}

.Error {
    color: darkred;
    font-weight: bold;
    margin-bottom: 1em;
}

.LoginBox label {
    display: block;
    color: white;
    font-weight: bold;
}

.LoginBox input {
    display: block;
    margin-bottom: 1.5em;
    width: 98%;
}

.LoginBox button {
    background-color: white;
    border: none;
    color: #01BF90;
    outline: 0.25em black;
    cursor: pointer;
    font: inherit;
    padding: 0.5em;
    font-weight: bold;
}

.LoginBox button.Loading {
    background-color: #eee;
    color: #666;
}

